.FormSearch {
  /* css-33zy79 */
  margin-top: 0em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  -webkit-flex: 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
@media (max-width: 1179px) {
  .FormSearch {
    justify-content: flex-end;
    margin-right: 10px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
  }
}

.AlgoliaAutocomplete {
  /* algolia-autocomplete no style for em*/
  line-height: 18.4px;
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
}
.AlgoliaAutocompleteRight {
  /* algolia-autocomplete-right */
  webkit-box-direction: normal;
  webfont-font-smoothing: antialiased;
}

.InputSearch {
  /* css-7dpbpx ds-input" */
  position: relative;
  vertical-align: top;
}
@media (max-width: 1179px) {
  .InputSearch {
    font-size: 16px;
    width: 16px;
    transition: width 0.2s ease, padding 0.2s ease;
    padding-left: 16px;
    -webkit-transition: width 0.2s ease, padding 0.2s ease;
    -moz-transition: width 0.2s ease, padding 0.2s ease;
  }
  .InputSearch:focus {
    padding-left: 29px;
    width: 8rem;
    outline: none;
  }
}
@media (min-width: 500px) {
  .InputSearch2 {
    position: relative;
  }

  .InputSearch {
    width: 100%;
    appearance: none;
    background: transparent;
    border: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    position: relative;
    padding: 4px 4px 4px 29px;
    background-image: url(/search.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .InputSearch:focus {
    outline: 0;
    background-color: #373940;
    border-radius: 0.25rem;
  }
}

.SpanSearch {
  /* ds-dropdown-menu ds-with-1 */
}
.DivSearch {
  /* ds-dataset-1 */
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
