.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}
.NavigationItems:hover {
  cursor: pointer;
}
@media (min-width: 699px) {
  .NavigationItems {
    flex-flow: row;
  }
}
