.InputCore {
  border: 1px solid gray;
  border-radius: 5px;
  display: block;

  /* animation: inputAnime 0.3s ease-in; */
}
.Dialog {
  height: 50px;
  width: 50px;
}

@media (min-width: 500px) and (max-width: 900px) {
  .DivCore input {
    display: inline-flex;
  }
  .InputCore {
    border: 1px solid gray;
    border-radius: 5px;
    height: 1.5876em;
    width: 13.33%;
    -webkit-tap-highlight-color: transparent;
    transition: width 3s ease-in 1s;
  }
  .InputCore input:focus {
    width: 13.55%;
  }
}
@media (min-width: 900px) {
  .DivCore input {
    display: inline-flex;
  }
  .InputCore {
    border: 1px solid gray;
    border-radius: 5px;
    width: 13.84%;
    height: 1.5876em;
    -webkit-tap-highlight-color: transparent;
  }
}

/* @keyframes inputAnime {
  0 {
    width: 80px;
  }
  100% {
    width: 170;
  }
} */
