.Social {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
.Social a {
  text-decoration: none;
  color: inherit;
}
.Social a:hover {
  color: gray;
  transition: color 0.8s;
}
.FooterNav {
  /* display: grid;
  grid-auto-flow: column; */
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
  box-sizing: border-box;
}
.FooterNav h4 {
  color: gray;
}
.FooterNavItems ul {
  list-style: none;
  font-size: 14px;
  color: inherit;
  /* list-style-type: lower-latin; */
  list-style-position: outside;
  line-height: 1.8;
}
.FooterNavItems a,
.FooterNavItems a:visited {
  text-decoration: none;
  color: inherit;
}
.FooterNavItems a:hover {
  color: gray;
  transition: color 0.8s;
}
.Copyright {
  text-align: center;
  background-color: #212121;
  align-items: center;
}
.Copyright a {
  color: gray;
  text-decoration: none;
}
.Copyright a:hover {
  color: white;
  transition: color 0.8;
}
.CopyrightIcon {
  position: relative;
  top: 3px;
  padding: 0;
  color: inherit; /*#hsl(360, 100%, 100%);*/
}
@media (min-width: 350px) and (max-width: 599px) {
  .FooterNav {
    padding: 0 10px;
  }
  .FooterNav div {
    width: 50%;
    display: inline-block;
  }
}
@media (min-width: 600px) {
  .FooterNav {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
  }
}
