.SearchIcon[data-tool-tip] {
  position: reletive;
}
.SearchIcon[data-tool-tip]::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: gray;
  padding: 0.7em 1em;
  color: white;
  border-radius: 5px;
  font-size: 0.8em;
  top: 0%;
  left: -20px;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms, top ease-out 150ms;
}
.SearchIcon[data-tool-tip]:active::after {
  transform: scale(1);
  top: 105%;
}

.SearchIcon {
  display: inline;
  top: 4px;
  right: 2px;
  position: relative;
  transition: translateX(0);
  animation: iconAnime 0.5s linear;
}
@keyframes searchAnime {
  0% {
    transition: translateX(0);
  }
  100% {
    transition: translateX(-100%);
  }
}

.InputCore {
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 110px;
  float: right;
  animation: searchAnime 0.4s linear;
}
.InputCore:focus {
  border-bottom: 2px solid #a7b4b9;
}
@keyframes searchAnime {
  0% {
    width: 0px;
  }
  100% {
    width: 120px;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .SearchIcon {
    display: inline;
    right: -8px;
    position: relative;
    transition: translateX(0);
    animation: iconAnime 0.5s linear;
  }
  @keyframes searchAnime {
    0% {
      transition: translateX(0);
    }
    100% {
      transition: translateX(-100%);
    }
  }
  .InputCore {
    /* height: 1.5876em; */
    width: 85%;
    -webkit-tap-highlight-color: transparent;
    animation: searchAnime 0.4s linear;
  }
  @keyframes searchAnime {
    0% {
      width: 0;
    }
    100% {
      width: 85%;
    }
  }
}
@media (min-width: 900px) {
  .SearchIcon {
    display: inline;
    position: relative;
    transition: translateX(0);
    animation: iconAnime 0.5s linear;
  }
  @keyframes searchAnime {
    0% {
      transition: translateX(0);
    }
    100% {
      transition: translateX(-100%);
    }
  }
  .InputCore {
    border-radius: 5px;
    width: 88%;
    /* height: 1.5876em; */
    -webkit-tap-highlight-color: transparent;
    animation: searchAnime 0.4s linear;
  }
  @keyframes searchAnime {
    0% {
      width: 0;
    }
    100% {
      width: 88%;
    }
  }
}
/* #121b14 dark skin green*/
/* #4d925c light skin green */
